
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<!-- slider -->
<div class="slider">
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/Banner.jpg" />
    </div>
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/banner1.jpg" />

    </div>
    <div class="slider-item">
        <img src="~/Assces/Anh/Banner_Slider/banner2.jpg" />

    </div>
</div>
<!-- end slider -->
<!-- section commit -->
<div class="section_commit ">
    <div class="row section-content align-items-center">
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bxs-car-mechanic'></i>
                </div>
                <div class="commit-tile">
                    <h4>FreeShip</h4>
                </div>
                <div class="commit-cmd">
                    <p>
                        Giao hàng
                        tận nơi khắp các tỉnh thành trên cả nước
                    </p>

                </div>
            </div>
        </div>
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bx-refresh'></i>
                </div>
                <div class="commit-tile">
                    <h4>hoàn tiền 100%</h4>
                </div>
                <div class="commit-cmd">
                    <p>Hoàn lại 100% tiền nếu không vừa ý hoặc lỗi từ nhà sản xuất (trong 7 ngày)</p>

                </div>
            </div>
        </div>
        <div class="col commit-item">
            <div class="commit-content">
                <div class="commit-icon">
                    <i class='bx bx-message-dots'></i>
                </div>
                <div class="commit-tile">
                    <h4>Hỗ trợ 24/7</h4>
                </div>
                <div class="commit-cmd">
                    <p>Đội ngũ tư vấn viên, chăm sóc khách hàng luôn sẵn sàng hỗ trợ 24/7</p>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- end section commit -->

<div class="section_products">

</div>
<div class="section_products">
    <div class="section_product-list">
        <div class="section_product-item" style="margin-bottom: 60px;">
            <div class="container">
                <div class="banner_product">
                    <h3 class="banner_product-tile">✩ màn hình xe hơi ✩</h3>
                </div>
                <div class="wraplist-products">
                    <div class="product-item">
                        <div class="product-loop">
                            <div class="product-title">
                                <a class="prod-img" href="">
                                    <img src="./asces/img/DVD-Toyota-Altis-01.jpg" class="img-fluid">

                                </a>
                            </div>

                            <div class="product-details">
                                <h3>
                                    <a href="" class="prod-text-detai">
                                        Ốp lưng Dot w MagSafe cho
                                        iPhone 14 Plus [6.7 inch]
                                        <br>
                                    </a>
                                </h3>

                                <div class="product-price">
                                    <!-- giá sau khi giam -->
                                    <span class="price">Giá: 179,000₫</span>
                                    <!-- giá gốc -->
                                    <span class="price-del">350,000₫</span>
                                </div>

                            </div>
                            <div class="product-action">
                                <div class="add-cart">
                                    <i class='bx bxs-cart-add'></i>
                                    Thêm vào giỏ
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="product-item">
                        <div class="product-loop">
                            <div class="product-title">
                                <a class="prod-img" href="">
                                    <img src="./asces/img/DVD-Toyota-Altis-01.jpg" class="img-fluid">

                                </a>
                            </div>

                            <div class="product-details">
                                <h3>
                                    <a href="" class="prod-text-detai">
                                        Ốp lưng Dot w MagSafe cho
                                        iPhone 14 Plus [6.7 inch]
                                        <br>
                                    </a>
                                </h3>

                                <div class="product-price">
                                    <!-- giá sau khi giam -->
                                    <span class="price">Giá: 179,000₫</span>
                                    <!-- giá gốc -->
                                    <span class="price-del">350,000₫</span>
                                </div>

                            </div>
                            <div class="product-action">
                                <div class="add-cart">
                                    <i class='bx bxs-cart-add'></i>
                                    Thêm vào giỏ
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="product-item">
                        <div class="product-loop">
                            <div class="product-title">
                                <a class="prod-img" href="">
                                    <img src="./asces/img/DVD-Toyota-Altis-01.jpg" class="img-fluid">

                                </a>
                            </div>

                            <div class="product-details">
                                <h3>
                                    <a href="" class="prod-text-detai">
                                        Ốp lưng Dot w MagSafe cho
                                        iPhone 14 Plus [6.7 inch]
                                        <br>
                                    </a>
                                </h3>

                                <div class="product-price">
                                    <!-- giá sau khi giam -->
                                    <span class="price">Giá: 179,000₫</span>
                                    <!-- giá gốc -->
                                    <span class="price-del">350,000₫</span>
                                </div>

                            </div>
                            <div class="product-action">
                                <div class="add-cart">
                                    <i class='bx bxs-cart-add'></i>
                                    Thêm vào giỏ
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="product-item">
                        <div class="product-loop">
                            <div class="product-title">
                                <a class="prod-img" href="">
                                    <img src="./asces/img/DVD-Toyota-Altis-01.jpg" class="img-fluid">

                                </a>
                            </div>

                            <div class="product-details">
                                <h3>
                                    <a href="" class="prod-text-detai">
                                        Ốp lưng Dot w MagSafe cho
                                        iPhone 14 Plus [6.7 inch]
                                        <br>
                                    </a>
                                </h3>

                                <div class="product-price">
                                    <!-- giá sau khi giam -->
                                    <span class="price">Giá: 179,000₫</span>
                                    <!-- giá gốc -->
                                    <span class="price-del">350,000₫</span>
                                </div>

                            </div>
                            <div class="product-action">
                                <div class="add-cart">
                                    <i class='bx bxs-cart-add'></i>
                                    Thêm vào giỏ
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>



    </div>
</div>




@*slider LOgo nha cung cung*@
@*slider LOgo nha cung cung*@
<div class="container brands mt-5 mb-4">
    <h2 class="title text-center">Nhà tài trợ</h2>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/bugatti-removebg-preview.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/FERRARI-removebg-preview.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/logo-bmw-3.png" />
        </div>
        <div class="col-md-3">
            <img src="~/Assces/Anh/logoNCC/672px-Lamborghini_Logo.svg-removebg-preview.png" />
        </div>
    </div>
</div>





@*@slider nhan xet*@
