<div class="header_sub-nav"  style="top: 72px">
    <ul class="sub_nav">
        <li class="sub_nav-item">
            <a href="/User/capNhatTtAccount" class="sub_nav-link">Tài Khoản</a>
        </li>
        
        <li class="sub_nav-item">
            <a href="/User/DangXuat" class="sub_nav-link">Đăng Xuất</a>
        </li>
    </ul>
</div>
